{% include 'admin/header.html' %}
{% load static %}
<div class="container">
  <div class="page-inner">
    <div class="page-header">
      <h3 class="fw-bold mb-3">Forms</h3>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="#">
            <i class="icon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="#">Forms</a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="#">State & District</a>
        </li>
      </ul>
    </div>
    {% if messages %}
    <div >
      <div role="alert">
        {%for message in messages%}
      <p class="text-uppercase" style="margin-left: 2ex;color:red">{{message}}</p>
      {%endfor%}
      </div>
    </div>
       {%endif%}
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">State Registration</div>
          </div>
          <form action="{% url 'stateaction' %}" method="post">
            {% csrf_token %}
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-lg-4">
              <div class="form-group">
                  <label for="statename">State</label>
                  <input
                    type="text" name="statename"
                    class="form-control"
                    id="statename"
                    placeholder="Enter Your State"
                  />
                </div>
                
                
                
    
          </div>
          <div class="card-action">
            <button class="btn btn-success">Submit</button>
            <button class="btn btn-danger">Cancel</button>
          </div>
        </div>
      </div>
      </div>
      </form>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">District Registration</div>
          </div>
          <form action="{% url 'districtaction' %}" method="post">
            {% csrf_token %}
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-lg-4">
              <div class="form-group">
                  <label for="statename">State</label>
                  <select name="stateid" id="stateid" class="form-control">
                    <option value=""> -- select State --</option>
                    {% for data in state_details %}
                    <option value="{{data.id}}">{{data.statename}}</option>
                    {% endfor %}
        
                </select>
                </div>
                <div class="form-group">
                  <label for="districtname">District</label>
                  <input
                    type="text"  name="districtname"
                    class="form-control"
                    id="districtname"
                    placeholder="Enter Your District"
                  />
                </div>
          </div>
          <div class="card-action">
            <button class="btn btn-success">Submit</button>
            <button class="btn btn-danger">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
{% include 'admin/footer.html'%}