{% include 'admin/header.html' %}
{% load static %}
<div class="container">
  <div class="page-inner">
    <div class="page-header">
      <h3 class="fw-bold mb-3">Tables</h3>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="#">
            <i class="icon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="#">Tables</a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="#">Category</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Category Table</div>
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Category Name</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead> <tbody>
                {% for data in Category_details %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td> {{data.categoriesname}} </td>
                  <td>
                    <div class="form-button-action">
                        <a href="{% url 'categorieseditaction' id=data.id %}"><button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                            <i class="fa fa-edit"></i>
                          </button></a>
                    <a href="{% url 'categorydelete' id=data.id %}"><button type="button" data-bs-toggle="" title="" class="btn btn-link btn-danger">
                        <i class="fa fa-times"></i>
                      </button></a>
                    </div>
                  </td>
                </tr>
                {% endfor %}

              </tbody> 
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Brand Table</div>
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Brand </th>
                  <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actions</th>
                </tr>
              </thead><tbody>
                {% for data in Brand_details %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td> {{data.brand}} </td>
                  <td>
                    <div class="form-button-action">
                    <a href="{% url 'brandeditaction' id=data.id %}"><button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                        <i class="fa fa-edit"></i>
                      </button></a>
                      <a href="{% url 'branddelete' id=data.id %}"><button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                        <i class="fa fa-times"></i>
                      </button></a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody> 
            </table>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
  {% include 'admin/footer.html' %}
  