{% include 'users/header.html' %}
{% load static %}

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{% static 'user/img/hero/cam_5.png' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hs-text">
                                <h2>Rentcam Studio</h2>
                                <p>"Discover top-quality cameras and gear for rent at unbeatable rates—perfect for capturing every moment,<br />
                                      from professional shoots to personal adventures!"</p>
                                <a href="#" class="primary-btn">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="{% static 'user/img/hero/cam_6.png' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hs-text">
                                <h2>Rentcam Studio</h2>
                                <p>"Discover top-quality cameras and gear for rent at unbeatable rates—perfect for capturing every moment,<br />
                                      from professional shoots to personal adventures!"</p>
                                <a href="#" class="primary-btn">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Services Section Begin -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="{% static 'user/img/services/service-1.jpg' %}" alt="">
                        <h3>Shooting</h3>
                        <p>Rent top-of-the-line cameras and equipment for your next shoot,
                             ensuring you capture every detail with stunning clarity and precision.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="{% static 'user/img/services/service-2.jpg' %}" alt="">
                        <h3>Videos</h3>
                        <p>Equip yourself with high-quality video cameras and gear rentals to bring your vision to life with professional-grade results.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="{% static 'user/img/services/cam_7.png' %}" alt="">
                        <h3>Editing</h3>
                        <p>Enhance your footage with our range of editing equipment rentals,
                             providing the tools you need to craft a polished, professional final cut.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Categories Section Begin -->
    <section class="categories-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="section-title">
                        <h2>Products</h2>
                        <p>Explore our extensive range of camera rentals,
                             from DSLRs to high-end lenses, to find the perfect gear for your next project.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="right-btn"><a href="#" class="primary-btn">VIew all</a></div>
                </div>
            </div>
            <div class="categories-slider owl-carousel">
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="{% static 'user/img/categories/cat-1.jpg' %}"></div>
                    <div class="cs-text">
                        <h4>Animal</h4>
                        <span>120 pictures</span>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="{% static 'user/img/categories/cat-2.jpg' %}"></div>
                    <div class="cs-text">
                        <h4>Natural</h4>
                        <span>325 pictures</span>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="{% static 'user/img/categories/cat-3.jpg' %}"></div>
                    <div class="cs-text">
                        <h4>Potrait</h4>
                        <span>540 pictures</span>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="{% static 'user/img/categories/cat-4.jpg' %}"></div>
                    <div class="cs-text">
                        <h4>Animal</h4>
                        <span>120 pictures</span>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="{% static 'user/img/categories/cat-5.jpg' %}"></div>
                    <div class="cs-text">
                        <h4>Animal</h4>
                        <span>120 pictures</span>
                    </div>
                </div>
            </div>
        </div>
    </section><br><br>
    <!-- Categories Section End -->

    <!-- Portfolio Section Begin -->
    
    <!-- Portfolio Section End -->
    {% include 'users/footer.html'%}