{% include 'users/header.html' %}
{% load static %}


    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bo-links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Pricing</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Pricing Section Begin -->
    
    <div class="table-container">
        <div class="table-row header">
            <div class="table-cell">Product Image</div>
            <div class="table-cell">Product Name</div>
            <div class="table-cell">Description</div>
            <div class="table-cell">Status</div>
            <div class="table-cell">Payment</div>
        </div>
        {% for data in booking_details %}
        <div class="table-row">
            <div class="table-cell">
                <img src="{{ data.product.product_image.url }}" alt="" class="fixed-size-image">
            </div>
            <div class="table-cell">
                <h5>{{data.product.product_name}}</h5>
            </div>
            <div class="table-cell">
                <span>{{data.product.description}}</span>
            </div>
            <div class="table-cell">
                <span>{{data.booking_status}}</span>
            </div>
            {% if data.booking_status == 'rentholder accept your order'%}
            <div class="table-cell">
                <a href="{% url 'paymentbal' id=data.bill_id  %}"><button class="primary-btn">Pay Balance</button></a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    
    <style>
        .table-container {
            display: table;
            width: 100%;
            border-collapse: collapse;
        }
    
        .table-row {
            display: table-row;
            border-bottom: 1px solid #ddd;
        }
    
        .header {
            font-weight: bold;
            background-color: #f5f5f5;
        }
    
        .table-cell {
            display: table-cell;
            padding: 15px;
            vertical-align: middle;
            text-align: center;
            border-right: 1px solid #ddd;
        }
    
        .table-cell:last-child {
            border-right: none; /* Remove right border on last cell */
        }
    
        .fixed-size-image {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    
        .ti-social a {
            margin: 0 5px;
        }
    
        .table-container .table-row:hover {
            background-color: #f9f9f9; /* Add hover effect */
        }
    </style><br><br><br><br><br><br>
    
    <!-- Pricing Section End -->

    <!-- Services Option Section Begin -->
    <section class="services-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>frequently asked questions</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">01</div>
                            <h5>Filming and Editing</h5>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    </div>
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">02</div>
                            <h5>Engagement photography</h5>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    </div>
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">03</div>
                            <h5>Comercial photography</h5>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">04</div>
                            <h5>Social media photography</h5>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    </div>
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">02</div>
                            <h5>Event Photography</h5>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    </div>
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">03</div>
                            <h5>personal photography</h5>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Option Section End -->

    {% include 'users/footer.html'%}